
@{
    ViewData["Title"] = "DocumentStructure";
}

<h1>Document Structure</h1>

    <h2>It's Just Lorem Ipsum</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam id pulvinar turpis, et scelerisque nulla. Interdum et malesuada fames ac ante ipsum primis in faucibus. Ut rutrum velit pharetra tellus pulvinar placerat a non neque. Morbi condimentum diam eget quam mollis aliquam. Sed vel metus nulla. Pellentesque eu condimentum velit. Curabitur congue dui mauris, sed ullamcorper mauris ultricies quis. Fusce vel magna non metus dictum feugiat. Curabitur dignissim et lacus ut porttitor. Donec sagittis malesuada augue non varius. Vestibulum pharetra nisi et placerat maximus. Aenean vel vestibulum purus. Fusce risus turpis, faucibus id est ut, cursus lobortis libero. Cras ac mi a mauris laoreet condimentum. Sed nec purus interdum, rhoncus orci eget, scelerisque lectus.

            Fusce pellentesque condimentum varius. Ut quis accumsan elit. Sed ac lobortis nulla. Aliquam bibendum tellus vel enim tincidunt elementum. Fusce vel lacus interdum, blandit felis eu, feugiat neque. Aenean maximus quam et malesuada pharetra. Sed a dolor arcu.

            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mi lacus, tempus egestas ultrices nec, lacinia in magna. Duis nec elementum dolor. Donec bibendum vitae magna at maximus. Cras id finibus nisl, eu volutpat sem. Cras non laoreet sem, sed dapibus quam. In efficitur ante vitae elit eleifend dignissim. Praesent eu dictum nulla, eu maximus massa. Vestibulum laoreet placerat ex, vitae convallis quam fermentum non.

            Donec dapibus metus vitae sapien placerat posuere. Pellentesque pharetra tellus dolor, accumsan finibus risus sodales tempus. Suspendisse facilisis at orci quis placerat. Phasellus pulvinar eu ante eget venenatis. Nullam maximus pellentesque nisi non congue. Integer consequat tellus at ex malesuada ullamcorper. In vel sem vitae nibh rutrum gravida eu a ligula. Donec viverra orci in pellentesque faucibus.

            Mauris nec lectus in sapien iaculis aliquet. Vestibulum enim neque, consequat vel eros sit amet, suscipit pulvinar leo. Vivamus eu ex non sapien varius posuere. Nunc aliquet enim magna, non mollis justo varius ut. Donec fringilla finibus metus sed luctus. Sed a elit porta, luctus erat ut, sagittis nulla. Fusce eleifend quam nec accumsan bibendum. Donec fermentum diam ex, ac volutpat ante posuere a. Duis elementum justo vel massa feugiat, at iaculis sapien finibus. Vivamus vel odio purus. Praesent a vulputate purus. Quisque eu erat elit.

            Suspendisse pharetra magna ut ex fermentum sollicitudin. Fusce vitae mauris a leo iaculis maximus sit amet et magna. Donec nec luctus lorem, eget eleifend libero. Pellentesque at tellus turpis. Duis quam lacus, mollis vitae urna in, ultricies ultrices nunc. Fusce gravida tortor ac congue pretium. Sed ultricies, turpis ut imperdiet tincidunt, libero enim sollicitudin tellus, sit amet tincidunt orci leo et velit. Phasellus luctus lacus mauris, sit amet mattis nunc elementum vel. Quisque vel urna vel lorem pharetra dignissim. Integer bibendum elit ipsum, eu mattis metus blandit a. Aenean efficitur, turpis et accumsan scelerisque, magna magna condimentum ex, vitae viverra turpis augue in ante. Nam vel elit finibus lectus consequat laoreet eget eget leo.

            Fusce fringilla sodales consequat. Praesent id diam id orci facilisis mollis. Aliquam rhoncus felis sed sem vulputate molestie. Aliquam vel facilisis elit. Donec id nibh vitae.
        </p>

        <h3>What is Lorem Ipsum?</h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown 
                printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining 
                essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software 
                like Aldus PageMaker including versions of Lorem Ipsum.
            </p>
        <h3>Why do we use it?</h3>
            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it 
                has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages 
                and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions 
                have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
            </p>

<h2>Advice Followed</h2>
        <ul>
            <li>Using html semantic tags</li>
            <li>Using Landmarks in layout file commonly used across site with header, nav, main and footer tags</li>
            <li>Headings used in correct hierarchy</li>
            <li>Tags properly opened and closed</li>
            <li>No duplicate ids</li>
            <li>Charset, doctype and language set</li>
            <li>Page has unique title</li>
        </ul>
    <h2>WCAG Guidelines & Acceptance Criteria Satisfied</h2>
<table>
    <caption>WCAG Criteria</caption>
    <thead>
    <tr>
        <th scope="col">Principle</th>
        <th scope="col">Guideline</th>
        <th scope="col">Success Criterion</th>
        <th scope="col">Details</th>
        <th scope="col">Criterion Number</th>
        <th scope="col">Level</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Robust</td>
        <td>Compatible</td>
        <td>Parsing</td>
        <td>
            Elements have complete start and end tags, elements are nested according to their specification,
            elements do not contain duplicate attributes, id's are unique
        </td>
        <td>4.1.1</td>
        <td>A</td>
    </tr>
    <tr>
        <td>Understandable</td>
        <td>Readable</td>
        <td>Language of page</td>
        <td>
            The default human language of each web page can be programatically determined
        </td>
        <td>3.1.1</td>
        <td>A</td>
    </tr>
    <tr>
        <td>Operable</td>
        <td>Navigable</td>
        <td>Page Titled</td>
        <td>
            Web pages have titles that describe topic or purpose
        </td>
        <td>2.4.2</td>
        <td>A</td>
    </tr>
    <tr>
        <td>Perceivable</td>
        <td>Adaptable</td>
        <td>Info and Relationships</td>
        <td>
            Information, structure, and relationships conveyed through presentation can be programmatically determined or are available in text.
        </td>
        <td>1.3.1</td>
        <td>A</td>
    </tr>
    <tr>
        <td>Operable</td>
        <td>Navigable</td>
        <td>Bypass Blocks</td>
        <td>
            A mechanism is available to bypass blocks of content that are repeated on multiple Web pages.
        </td>
        <td>2.4.1</td>
        <td>A</td>
    </tr>
    <tr>
        <td>Operable</td>
        <td>Navigable</td>
        <td>Headings and labels</td>
        <td>
            Headings and labels describe topic or purpose.
        </td>
        <td>2.4.6</td>
        <td>AA</td>
    </tr>
    </tbody>
    <tfoot>

    </tfoot>
</table>


<h2>Code</h2>
<img src="../img/layout.PNG"/>


