
@{
    ViewData["Title"] = "Tables";
}

<h1>Tables</h1>

<h2>Difference Between Correct Markup and Style</h2>

<table width="92%" border="1">
    <tbody>
        <tr>
            <th width="11%" scope="col"> Dept. Code/ Class Number</th>
            <th width="6%" scope="col"> Section</th>
            <th width="12%" scope="col"> Max Enrollment</th>
            <th width="14%" scope="col"> Current Enrollment</th>
            <th width="7%" scope="col"> Rm #</th>
            <th width="21%" scope="col"> Days</th>
            <th width="8%" scope="col"> Start Time</th>
            <th width="8%" scope="col"> End Time</th>
            <th width="13%" scope="col"> Inst.</th>
        </tr>
        <tr>
            <th width="11%" scope="row"> BIO 100</th>
            <td width="6%">1</td>
            <td width="12%">15</td>
            <td width="14%">13</td>
            <td width="7%">5</td>
            <td width="21%">Mon,Wed,Fri</td>
            <td width="8%">10:00</td>
            <td width="8%">11:00</td>
            <td width="13%">Magde</td>
        </tr>
        <tr>
            <th width="11%" scope="row"> BIO 100</th>
            <td width="6%">2</td>
            <td width="12%">15</td>
            <td width="14%">7</td>
            <td width="7%">5</td>
            <td width="21%">Tue,Thu</td>
            <td width="8%">11:00</td>
            <td width="8%">12:30</td>
            <td width="13%">Indge</td>
        </tr>
        <tr>
            <th width="11%" scope="row"> BIO 205</th>
            <td width="6%">1</td>
            <td width="12%">15</td>
            <td width="14%">9</td>
            <td width="7%">6</td>
            <td width="21%">Tue,Thu</td>
            <td width="8%">09:00</td>
            <td width="8%">10:30</td>
            <td width="13%">Magde</td>
        </tr>
        <tr>
            <th width="11%" scope="row"> BIO 315</th>
            <td width="6%">1</td>
            <td width="12%">12</td>
            <td width="14%">3</td>
            <td width="7%">6</td>
            <td width="21%">Mon,Wed,Fri</td>
            <td width="8%">13:00</td>
            <td width="8%">14:00</td>
            <td width="13%">Indge</td>
        </tr>
        <tr>
            <th width="11%" scope="row">BUS 150</th>
            <td width="6%">1</td>
            <td width="12%">15</td>
            <td width="14%">15</td>
            <td width="7%">13</td>
            <td width="21%">Mon,Wed,Fri</td>
            <td width="8%">09:00</td>
            <td width="8%">10:00</td>
            <td width="13%">Roberts</td>
        </tr>
        <tr>
            <th width="11%" scope="row">BUS 210</th>
            <td width="6%">1</td>
            <td width="12%">10</td>
            <td width="14%">9</td>
            <td width="7%">13</td>
            <td width="21%">Mon,Wed,Fri</td>
            <td width="8%">08:00</td>
            <td width="8%">09:00</td>
            <td width="13%">Rasid</td>
        </tr>
    </tbody>
</table>



<br />

<table width="92%" border="1">
    <tbody>
        <tr>
            <td width="11%"><strong> Dept. Code/ Class Number</strong></td>
            <td width="6%"><strong> Section</strong></td>
            <td width="12%"><strong> Max Enrollment</strong></td>
            <td width="14%"><strong> Current Enrollment</strong></td>
            <td width="7%"><strong> Rm #</strong></td>
            <td width="21%"><strong> Days</strong></td>
            <td width="8%"><strong> Start Time</strong></td>
            <td width="8%"><strong> End Time</strong></td>
            <td width="13%"><strong> Inst.</strong></td>
        </tr>
        <tr>
            <td width="11%"><strong> BIO 100</strong></td>
            <td width="6%">1</td>
            <td width="12%">15</td>
            <td width="14%">13</td>
            <td width="7%">5</td>
            <td width="21%">Mon,Wed,Fri</td>
            <td width="8%">10:00</td>
            <td width="8%">11:00</td>
            <td width="13%">Magde</td>
        </tr>
        <tr>
            <td width="11%"><strong> BIO 100</strong></td>
            <td width="6%">2</td>
            <td width="12%">15</td>
            <td width="14%">7</td>
            <td width="7%">5</td>
            <td width="21%">Tue,Thu</td>
            <td width="8%">11:00</td>
            <td width="8%">12:30</td>
            <td width="13%">Indge</td>
        </tr>
        <tr>
            <td width="11%"><strong> BIO 205</strong></td>
            <td width="6%">1</td>
            <td width="12%">15</td>
            <td width="14%">9</td>
            <td width="7%">6</td>
            <td width="21%">Tue,Thu</td>
            <td width="8%">09:00</td>
            <td width="8%">10:30</td>
            <td width="13%">Magde</td>
        </tr>
        <tr>
            <td width="11%"><strong> BIO 315</strong></td>
            <td width="6%">1</td>
            <td width="12%">12</td>
            <td width="14%">3</td>
            <td width="7%">6</td>
            <td width="21%">Mon,Wed,Fri</td>
            <td width="8%">13:00</td>
            <td width="8%">14:00</td>
            <td width="13%">Indge</td>
        </tr>
        <tr>
            <td width="11%"><strong>BUS 150</strong></td>
            <td width="6%">1</td>
            <td width="12%">15</td>
            <td width="14%">15</td>
            <td width="7%">13</td>
            <td width="21%">Mon,Wed,Fri</td>
            <td width="8%">09:00</td>
            <td width="8%">10:00</td>
            <td width="13%">Roberts</td>
        </tr>
        <tr>
            <td width="11%"><strong>BUS 210</strong></td>
            <td width="6%">1</td>
            <td width="12%">10</td>
            <td width="14%">9</td>
            <td width="7%">13</td>
            <td width="21%">Mon,Wed,Fri</td>
            <td width="8%">08:00</td>
            <td width="8%">09:00</td>
            <td width="13%">Rasid</td>
        </tr>
    </tbody>
</table>


<h2>Using Captions, and Aria</h2>
<p id="tblDesc">Column one shows different suggestions for table accessibility. The next column states true/false for if it has been applied. The final column contains an edit button</p>
<table aria-describedby="tblDesc">
    <caption>Table Accessibility Check</caption>
    <thead>
        <tr>
            <td></td>
            <th scope="col">Advice</th>
            <th scope="col">Compliance</th>
            <th scope="col">Edit</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td tabindex="0">Table is grouped with semantics like thead, tbody, tfoot</td>
            <td tabindex="0">True</td>
            <td><button aria-label="semantics button">Edit</button></td>
        </tr>
        <tr>
            <td>2</td>
            <td tabindex="0">Table has a caption</td>
            <td tabindex="0">True</td>
            <td><button aria-label="caption button">Edit</button></td>
        </tr>
        <tr>
            <td>3</td>
            <td tabindex="0">Scope has been used to associate headings with data</td>
            <td tabindex="0">True</td>
            <td><button aria-label="scope button">Edit</button></td>
        </tr>
        <tr>
            <td>4</td>
            <td tabindex="0">Table is simple and data has been flattened as much as possible</td>
            <td tabindex="0">True</td>
            <td><button aria-label="simple table button">Edit</button></td>
        </tr>
    </tbody>
    <tfoot>

    </tfoot>
</table>

<h2>Advice Followed</h2>
<ul>
    <li>Using table markup and grouping semantics thead, tbody, tfoot</li>
    <li>Added a caption</li>
    <li>Used scope to associate headers with data</li>
    <li>Simple table design - flat data</li>
    <li>aria-describedby for providing a detailed summary of the table</li>
    <li>aria-label for buttons</li>
    <li>tabindex for non-navigable items</li>
</ul>

<h2>WCAG Guidelines & Acceptance Criteria Satisfied</h2>
<table>
    <caption>WCAG Criteria</caption>
    <thead>
        <tr>
            <th scope="col">Principle</th>
            <th scope="col">Guideline</th>
            <th scope="col">Success Criterion</th>
            <th scope="col">Details</th>
            <th scope="col">Criterion Number</th>
            <th scope="col">Level</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Perceivable</td>
            <td>Adaptable</td>
            <td>Info and Relationships</td>
            <td>
                Information, structure, and relationships conveyed through presentation can be programmatically determined or are available in text.
            </td>
            <td>1.3.1</td>
            <td>A</td>
        </tr>
    </tbody>
    <tfoot>

    </tfoot>
</table>


<h2>Code Snippets</h2>
<p>Table with proper th, td usage</p>
<img src="../img/tablewithpropermarkup.PNG" />

<p>Table without proper th, td usage</p>
<img src="../img/tablewithoutpropermarkup.PNG" />

<p>Table with caption, scope and aria</p>
<img src="../img/tablecaptionandaria.PNG" />

